*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 55%; } }

.wrapper-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }
  @media only screen and (max-width: 62.5em) {
    .wrapper-center {
      width: 90%; } }
  @media only screen and (max-width: 50em) {
    .wrapper-center {
      width: 96%; } }

.wrapper-center-small {
  margin-left: auto;
  margin-right: auto;
  width: 1000px; }
  @media only screen and (max-width: 62.5em) {
    .wrapper-center-small {
      width: 700px; } }

.btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer; }
  .btn-red {
    background-image: linear-gradient(to right, #FE3140, #F2563F);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 4rem;
    border: none;
    color: #fff; }
  .btn-join {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 5rem;
    border: none;
    background-color: #fff;
    color: #313131; }
  .btn-hire {
    background-image: linear-gradient(to right, #FE3140, #F2563F);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 5rem;
    border: none;
    color: #fff; }
  .btn_swap {
    border: 1px solid #282828;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    float: left; }
    .btn_swap:focus {
      outline: 0; }

.btn_swap.active {
  background-color: #282828;
  color: #fff; }

.mg-right {
  margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .mg-right {
      margin-right: 0;
      margin-bottom: 2rem; } }

.clock__absolute {
  position: absolute;
  top: 0; }

.clock__relative {
  position: relative; }

.button {
  visibility: hidden;
  opacity: 0; }

.button.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: 1.3s; }

.buttonOne {
  visibility: hidden;
  opacity: 0; }

.buttonTwo {
  visibility: hidden;
  opacity: 0; }

.textOne {
  visibility: hidden;
  opacity: 0; }

.textOne.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: .5s; }

.textTwo {
  visibility: hidden;
  opacity: 0; }

.textTwo.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: .5s; }

.textThree {
  visibility: hidden;
  opacity: 0; }

.textThree.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: 1s; }

.textListOne {
  visibility: hidden;
  opacity: 0; }

.textListOne.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .3s; }

.textListTwo {
  visibility: hidden;
  opacity: 0; }

.textListTwo.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .6s; }

.textListThree {
  visibility: hidden;
  opacity: 0; }

.textListThree.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1s; }

.textListFour {
  visibility: hidden;
  opacity: 0; }

.textListFour.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1.4s; }

.tabletItemOne {
  flex: 0; }

.tabletItemOne.btn-animate {
  flex: 1;
  transition: all 1.5s;
  transition-delay: .2s; }

.tabletItemTwo {
  visibility: hidden;
  opacity: 0; }

.tabletItemTwo.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .5s; }

.tabletItemThree {
  visibility: hidden;
  opacity: 0; }

.tabletItemThree.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1s; }

.tabletItemFour {
  visibility: hidden;
  opacity: 0; }

.tabletItemFour.btn-animate {
  visibility: visible;
  opacity: 100;
  transition-delay: 1.4s; }

.itemOne {
  visibility: hidden;
  opacity: 0; }

.itemOne.btn-animate {
  isibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .5s; }

.itemTwo {
  visibility: hidden;
  opacity: 0; }

.itemTwo.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1s; }

.careersOne {
  visibility: hidden;
  opacity: 0; }

.careersOne.btn-animate {
  isibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .5s; }

.careersTwo {
  visibility: hidden;
  opacity: 0; }

.careersTwo.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .7s; }

.careersThree {
  visibility: hidden;
  opacity: 0; }

.careersThree.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1.2s; }

.careersHeader {
  visibility: hidden;
  opacity: 0; }

.careersHeader.animate {
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .5s; }

.btn-animate {
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: 1s; }

.nav {
  z-index: 2;
  background-color: transparent;
  padding: 0;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav.active.shadow {
    box-shadow: 0 1px 8px #d7d7d7; }
  .nav__img {
    flex: 0 0 20rem;
    padding: 4rem 4rem;
    float: left; }
    @media only screen and (max-width: 62.5em) {
      .nav__img {
        padding: 4rem; } }
    @media only screen and (max-width: 50em) {
      .nav__img {
        padding: 4rem 2rem; } }
    .nav__img img {
      width: 100%;
      height: auto; }
  .nav__text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; }
    @media only screen and (max-width: 50em) {
      .nav__text-box.active {
        width: 100%;
        padding: 0;
        flex: 0 0 100%; } }
  .nav__text-list {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .nav__text-list {
        display: none;
        padding: 3rem;
        background-color: black; } }
    .nav__text-list > :last-child {
      list-style: none;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "Open Sans";
      background-image: linear-gradient(to right, #FE3140, #F2563F);
      color: #fff;
      padding: 2rem 3rem;
      letter-spacing: .2rem;
      white-space: nowrap; }
      @media only screen and (max-width: 62.5em) {
        .nav__text-list > :last-child {
          padding: 2rem 2rem; } }
      @media only screen and (max-width: 50em) {
        .nav__text-list > :last-child {
          font-size: 1.6rem;
          font-weight: 600; } }
    .nav__text-list-item:not(:last-child) {
      display: flex;
      list-style: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      font-family: "Open Sans";
      padding: 2rem 0;
      margin: 0 3rem;
      color: #fff;
      letter-spacing: .2rem;
      white-space: nowrap; }
      @media only screen and (max-width: 62.5em) {
        .nav__text-list-item:not(:last-child) {
          padding: 2rem 0;
          margin: 0 2rem; } }
      @media only screen and (max-width: 50em) {
        .nav__text-list-item:not(:last-child) {
          padding: 2rem 3rem;
          margin: 0;
          font-size: 1.6rem;
          font-weight: 600; } }
      .nav__text-list-item:not(:last-child).active {
        border-top: 2px solid red;
        color: red !important; }
        @media only screen and (max-width: 50em) {
          .nav__text-list-item:not(:last-child).active {
            border-top: none;
            color: #fff !important; } }
      @media only screen and (max-width: 62.5em) {
        .nav__text-list-item:not(:last-child) {
          padding: 2rem 1rem; } }
      @media only screen and (max-width: 50em) {
        .nav__text-list-item:not(:last-child) {
          padding: 1rem .5rem;
          letter-spacing: 0;
          font-size: 1rem; } }
      @media only screen and (max-width: 37.5em) {
        .nav__text-list-item:not(:last-child) {
          padding: 1rem .3rem; } }
    .nav__text-list-link {
      text-decoration: none;
      color: inherit;
      height: 100%;
      width: 100%; }

.checkbox__label {
  content: "";
  display: none;
  width: 4rem;
  height: 3px;
  transition: all .5s;
  cursor: pointer;
  background-color: lightgray; }
  .checkbox__label.active {
    background-color: #3b3b3b; }
  @media only screen and (max-width: 50em) {
    .checkbox__label {
      position: absolute;
      top: 6rem;
      right: 4rem;
      margin-left: auto;
      display: block; } }
  .checkbox__label:before {
    content: "";
    display: block;
    width: 4rem;
    height: 3px;
    background-color: inherit;
    transform: translateY(-300%) rotate(0);
    transition: all .5s; }
  .checkbox__label:after {
    content: "";
    display: block;
    width: 4rem;
    height: 3px;
    background-color: inherit;
    transform: translateY(200%) rotate(0);
    transition: all .5s; }

.checkbox__input {
  display: none; }
  .checkbox__input:checked + label {
    right: 8rem;
    width: 0;
    transition: all .5s; }
    .checkbox__input:checked + label:after {
      transform: translateY(-100%) rotate(45deg);
      opacity: 100; }
    .checkbox__input:checked + label:before {
      transform: translateY(0) rotate(-45deg);
      transition: all .5s; }
  .checkbox__input:checked ~ ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right; }
    .checkbox__input:checked ~ ul > * {
      color: #fff !important; }
  .checkbox__input:checked ~ .nav__img {
    display: none; }

.header {
  width: 100%;
  height: 700px;
  position: relative;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 50em) {
    .header {
      height: 550px;
      margin-bottom: 10rem; } }
  .header__img {
    width: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(30%);
    background-color: transparent !important; }
    @media only screen and (max-width: 100em) {
      .header__img {
        width: 55%; } }
    @media only screen and (max-width: 1400px) {
      .header__img {
        width: 57%; } }
    @media only screen and (max-width: 1000px) {
      .header__img {
        width: 70%;
        left: 50%;
        transform: translate(-50%, 30%); } }
    .header__img img {
      background-color: transparent;
      width: 100%; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    position: absolute;
    top: 20%;
    left: 10%; }
    @media only screen and (max-width: 62.5em) {
      .header__content {
        width: 100%;
        top: 30%;
        left: 0;
        align-items: center;
        text-align: center; } }
    .header__content-header {
      width: 40%;
      color: #fff;
      font-size: 2.7rem;
      font-weight: 600;
      letter-spacing: .2rem;
      padding-bottom: 3rem;
      font-family: Arial;
      line-height: 6rem; }
      @media only screen and (max-width: 75em) {
        .header__content-header {
          width: 100%;
          padding-right: 5rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__content-header {
          line-height: 4rem; } }
      @media only screen and (max-width: 62.5em) {
        .header__content-header {
          width: 100%;
          padding: 0 2rem; } }
    .header__content-list {
      list-style: none;
      display: flex;
      padding-bottom: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .header__content-list {
          justify-items: center; } }
      .header__content-list-item {
        font-weight: 400;
        font-size: 2rem;
        margin: 1rem 1rem;
        color: #969497; }
        @media only screen and (max-width: 50em) {
          .header__content-list-item {
            margin: 1rem .5rem; } }
        @media only screen and (max-width: 37.5em) {
          .header__content-list-item {
            margin: 1rem .3rem; } }
    .header__content-btn {
      background-color: transparent;
      padding: 2rem 4rem;
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      font-family: "Open Sans";
      font-size: 1.4rem;
      font-weight: 600; }
      .header__content-btn:hover {
        background-color: lightgray;
        color: #404040;
        transition: all .5s;
        transition-delay: .2s; }
      @media only screen and (max-width: 1000px) {
        .header__content-btn {
          display: none; } }

.miniSlides {
  display: none;
  background-color: transparent; }

.mySlides {
  width: 100%;
  height: 700px;
  background-position: left;
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .mySlides {
      height: 550px; } }

.header- {
  width: 2rem;
  transform: translateY(47%);
  border-top: 2px solid #969497;
  transition: all 4s; }
  .header-:after {
    content: "";
    display: block;
    color: #969497;
    width: 0;
    height: 20px;
    border-top: 2px solid red;
    transform: translateY(-2px);
    z-index: 10; }

.other-list-item:after {
  content: "";
  display: block;
  color: #969497;
  width: 20px;
  height: 20px;
  border-top: 2px solid red;
  transform: translateY(-2px);
  z-index: 10;
  transition: all 4s; }

.content {
  height: 200vh;
  width: 100%;
  background-color: orangered; }

.service {
  width: 100%;
  padding: 12rem 5rem 0 5rem; }
  @media only screen and (max-width: 62.5em) {
    .service {
      padding: 2rem 5rem 0 5rem; } }
  @media only screen and (max-width: 50em) {
    .service {
      padding: 2rem 3rem 0 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .service {
      padding: 2rem .5rem 0 .5rem; } }
  .service-box {
    display: flex;
    justify-content: center;
    padding-bottom: 8rem; }
    @media only screen and (max-width: 62.5em) {
      .service-box {
        flex-direction: column;
        align-items: center; } }
  .service__header {
    flex: 0 0 50%;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center; }
    .service__header h1 {
      font-family: Arial;
      font-weight: 500;
      font-size: 4.5rem; }
      @media only screen and (max-width: 62.5em) {
        .service__header h1 {
          text-align: center;
          padding-bottom: 4rem; } }
      @media only screen and (max-width: 50em) {
        .service__header h1 {
          font-size: 3rem; } }
      .service__header h1 span {
        color: #FE3140; }
  .service__text {
    padding-left: 1.5rem; }
    @media only screen and (max-width: 62.5em) {
      .service__text {
        text-align: center; } }
    .service__text p {
      font-size: 1.8rem;
      padding-bottom: 2rem;
      line-height: 3rem;
      letter-spacing: .1rem;
      color: #535353;
      z-index: 30; }
  .service__content-boxes {
    cursor: pointer;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 62.5em) {
      .service__content-boxes {
        flex-wrap: wrap; } }
    .service__content-boxes > * {
      border-top: 1px solid lightgray; }
      @media only screen and (max-width: 62.5em) {
        .service__content-boxes > * {
          border: none; } }
    .service__content-boxes > *:not(:last-child) {
      border-right: 1px solid lightgray; }
      @media only screen and (max-width: 62.5em) {
        .service__content-boxes > *:not(:last-child) {
          border: none; } }
  .service__content-box {
    flex: 0 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start; }
    @media only screen and (max-width: 50em) {
      .service__content-box {
        border-bottom: 1px solid lightgray; } }
    .service__content-box:hover > * {
      color: #fff !important; }
    .service__content-box > * {
      padding-bottom: 3rem; }
    .service__content-box-link {
      font-size: 1.4rem;
      text-transform: uppercase;
      display: none;
      align-self: center;
      color: red; }
      @media only screen and (max-width: 62.5em) {
        .service__content-box-link {
          display: block;
          padding: 2rem 0; } }
      .service__content-box-link a {
        color: inherit;
        text-decoration: none; }
        .service__content-box-link a:hover {
          text-decoration: underline; }
    .service__content-box-header {
      font-size: 2.2rem;
      font-weight: 500;
      font-family: Arial;
      line-height: 3rem; }
    .service__content-box-text {
      color: #fff;
      font-size: 1.8rem;
      line-height: 2.5rem;
      padding-bottom: 8rem; }
      @media only screen and (max-width: 62.5em) {
        .service__content-box-text {
          display: none; } }
    .service__content-box-img {
      width: 5%;
      height: auto;
      padding-top: 4rem;
      visibility: hidden; }
      @media only screen and (max-width: 62.5em) {
        .service__content-box-img {
          visibility: visible; } }
      @media only screen and (max-width: 50em) {
        .service__content-box-img {
          width: 1rem; } }
  .service__laptop {
    padding: 0  1rem  10rem 0; }
    .service__laptop-box {
      height: 900px;
      background-image: url("../img/laptop_background.jpg");
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 62.5em) {
        .service__laptop-box {
          height: 500px; } }
      @media only screen and (max-width: 50em) {
        .service__laptop-box {
          height: 300px; } }
      .service__laptop-box-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        background-color: #fff;
        padding: 10rem 15rem; }
        @media only screen and (max-width: 50em) {
          .service__laptop-box-text {
            padding: 2rem; } }
        @media only screen and (max-width: 37.5em) {
          .service__laptop-box-text {
            padding: 1rem;
            transform: translateY(200px); } }
        @media only screen and (max-width: 25em) {
          .service__laptop-box-text {
            padding: .5rem; } }
        .service__laptop-box-text h1 {
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 6rem;
          padding-bottom: 3rem;
          font-family: Constantia; }
        .service__laptop-box-text p {
          text-align: center;
          font-size: 1.8rem;
          line-height: 2.5rem;
          letter-spacing: .1rem;
          color: #3e3e3e; }

.content-box {
  padding: 0 4rem; }
  @media only screen and (max-width: 75em) {
    .content-box {
      padding: 1rem .5rem; } }
  @media only screen and (max-width: 62.5em) {
    .content-box {
      padding: 1rem;
      flex: 0 0 50%; } }
  @media only screen and (max-width: 50em) {
    .content-box {
      padding: 1rem;
      flex: 0 0 100%; } }

.tablet {
  padding: 5rem 1rem; }
  .tablet__content {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 75em) {
      .tablet__content {
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .tablet__content {
        margin-top: 20rem; } }
    @media only screen and (max-width: 25em) {
      .tablet__content {
        margin-top: 25rem; } }
    .tablet__content-tablet-box {
      flex: 0 0 55%;
      height: 500px;
      padding: 1rem 4rem 2rem 4rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 75em) {
        .tablet__content-tablet-box {
          padding-bottom: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .tablet__content-tablet-box {
          height: 400px;
          padding: 1rem .5rem 2rem .5rem; } }
      .tablet__content-tablet-box-arrows {
        display: flex;
        flex-direction: column;
        width: 15%; }
        @media only screen and (max-width: 37.5em) {
          .tablet__content-tablet-box-arrows {
            display: none; } }
        .tablet__content-tablet-box-arrows div {
          list-style: none;
          font-size: 2.5rem;
          font-weight: 600;
          display: flex;
          flex-direction: column; }
    .tablet__content-tablet {
      width: 85%;
      border: 2px solid lightgray;
      border-radius: 30px;
      padding: 2rem  2rem 2rem;
      height: 100%;
      display: flex;
      align-items: center;
      box-shadow: .5rem 1rem 1rem lightgray; }
      @media only screen and (max-width: 100em) {
        .tablet__content-tablet {
          width: 100%; } }
      @media only screen and (max-width: 50em) {
        .tablet__content-tablet {
          border-radius: 0; } }
      .tablet__content-tablet-circle {
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 40px;
        border: 2px solid lightgray;
        border-radius: 1000px; }
        @media only screen and (max-width: 37.5em) {
          .tablet__content-tablet-circle {
            height: 20px;
            width: 20px; } }
      .tablet__content-tablet-inner {
        flex: 0 0 90%;
        height: 400px;
        overflow: hidden;
        border-radius: 30px; }
        .tablet__content-tablet-inner img {
          width: 100%; }
    .tablet__content-text {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 100em) {
        .tablet__content-text {
          width: 80%;
          margin-right: auto;
          margin-left: auto; } }
    .tablet__content-text h1 {
      font-size: 4rem;
      line-height: 5.5rem;
      font-weight: 400;
      padding-bottom: 2rem; }
      @media only screen and (max-width: 50em) {
        .tablet__content-text h1 {
          font-size: 2.5rem;
          line-height: 3.5rem; } }
    .tablet__content-text p {
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: .1rem;
      font-weight: 400;
      padding-bottom: 2rem;
      color: #535353; }
    .tablet__content-text-sudo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-items: flex-start;
      padding-bottom: 3rem; }
      .tablet__content-text-sudo h2 {
        font-weight: 400;
        font-size: 2.5rem;
        padding-right: 2rem; }
      .tablet__content-text-sudo img {
        padding-right: 2rem; }
    .tablet__content-text h4 {
      font-size: 2rem;
      font-weight: 400;
      padding-bottom: 3rem; }
      @media only screen and (max-width: 62.5em) {
        .tablet__content-text h4 {
          text-align: center; } }
    @media only screen and (max-width: 62.5em) {
      .tablet__content-text-buttons {
        text-align: center;
        margin-left: auto;
        margin-right: auto; } }

.middle__line {
  margin: 1rem 0;
  height: 2px;
  flex: 1;
  border-bottom: 1px solid lightgray; }

.arrow__up {
  text-align: center;
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 3rem;
  background-color: transparent; }
  .arrow__up:hover {
    color: red; }
  .arrow__up:focus {
    outline: 0; }

.arrow__down {
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
  padding: .5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: pulseColor 10s infinite; }
  .arrow__down:hover {
    color: red; }
  .arrow__down:focus {
    outline: 0; }

@keyframes pulseColor {
  0% {
    border: 2px solid #fff; }
  5% {
    border: 2px solid #fbdddd; }
  10% {
    border: 2px solid #fff; }
  100% {
    border: 2px solid #fff; } }

.sudo-end {
  flex: 0;
  content: "";
  border-top: 3px solid red;
  margin-left: auto; }

.sudo-start {
  flex: 1;
  transition: all 1.5s; }

.experience {
  padding: 4rem; }
  @media only screen and (max-width: 62.5em) {
    .experience {
      padding: 2rem; } }
  @media only screen and (max-width: 50em) {
    .experience {
      padding: 1rem; } }
  .experience__content {
    width: 100%;
    display: flex; }
    @media only screen and (max-width: 62.5em) {
      .experience__content {
        flex-direction: column; } }
    .experience__content__header {
      height: 100vh;
      border: 1px solid lightgray;
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10rem;
      letter-spacing: .2rem;
      line-height: 5rem; }
      @media only screen and (max-width: 62.5em) {
        .experience__content__header {
          height: 60rem;
          padding: 0 4rem; } }
      @media only screen and (max-width: 50em) {
        .experience__content__header {
          height: 30rem;
          padding: 0 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .experience__content__header {
          line-height: 3.5rem; } }
      .experience__content__header h1 {
        font-family: Arial;
        font-size: 3rem;
        font-weight: 400; }
        @media only screen and (max-width: 25em) {
          .experience__content__header h1 {
            font-size: 2rem; } }
    .experience__content__text {
      height: 100vh;
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      background-color: #F8F9FB;
      padding: 5rem  0;
      transform: translate(-2rem, -2rem); }
      @media only screen and (max-width: 62.5em) {
        .experience__content__text {
          height: 40rem;
          padding: 2rem; } }
      @media only screen and (max-width: 50em) {
        .experience__content__text {
          height: initial;
          padding: 2rem; } }
      .experience__content__text-box {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 70%; }
        @media only screen and (max-width: 50em) {
          .experience__content__text-box {
            width: 90%;
            padding: 2rem; } }
        .experience__content__text-box-number h1 {
          padding-top: .5rem;
          color: red;
          font-weight: 600;
          font-size: 3rem;
          padding-right: 5rem; }
          @media only screen and (max-width: 25em) {
            .experience__content__text-box-number h1 {
              padding-right: 2rem; } }
        .experience__content__text-box-content {
          display: flex;
          flex-direction: column; }
          .experience__content__text-box-content h1 {
            font-size: 3rem;
            font-family: "Open Sans";
            font-weight: 400;
            padding-bottom: 3rem; }
            @media only screen and (max-width: 25em) {
              .experience__content__text-box-content h1 {
                font-size: 2rem; } }
          .experience__content__text-box-content p {
            font-size: 1.8rem;
            color: #535353; }
  .experience__background {
    margin: 8rem 0;
    height: 600px;
    background-image: url("../img/stairs_background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .experience__background {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .experience__background {
        margin: 2rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .experience__background-box {
        flex-direction: column;
        display: flex; } }
    .experience__background h1 {
      font-size: 4rem;
      font-family: "Open Sans";
      font-weight: 700;
      margin-bottom: 2rem;
      color: #fff;
      text-align: center; }
      @media only screen and (max-width: 62.5em) {
        .experience__background h1 {
          font-size: 3rem; } }

.clock {
  width: 100%; }
  .clock__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .clock__content {
        padding-bottom: 2rem; } }
    .clock__content-img {
      width: 15%;
      padding-bottom: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .clock__content-img {
          padding-bottom: 2rem; } }
      .clock__content-img img {
        width: 100%;
        height: auto; }
    .clock__content-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly; }
      @media only screen and (max-width: 62.5em) {
        .clock__content-box {
          flex-wrap: wrap; } }
      @media only screen and (max-width: 37.5em) {
        .clock__content-box {
          display: none; } }
      .clock__content-box-clock {
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media only screen and (max-width: 62.5em) {
          .clock__content-box-clock {
            flex: 0 0 33%;
            padding-bottom: 2.1rem; } }
        .clock__content-box-clock h1 {
          font-family: "Cinzel";
          font-weight: 700;
          font-size: 1.8rem;
          margin-top: 2rem; }
          @media only screen and (max-width: 37.5em) {
            .clock__content-box-clock h1 {
              margin-top: 1rem; } }

.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 4rem 0; }
  @media only screen and (max-width: 37.5em) {
    .footer__box {
      flex-direction: column-reverse;
      padding: 2rem 0; } }
  .footer__box-text p {
    font-size: 1.6rem;
    color: #404040; }
  .footer__box-list ul {
    list-style: none;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__box-list ul {
        padding-bottom: 2rem; } }
    .footer__box-list ul li {
      color: red;
      font-size: 2rem;
      padding-right: 2rem; }
      .footer__box-list ul li a {
        color: red;
        text-decoration: none; }
        .footer__box-list ul li a:hover {
          text-decoration: underline; }
    .footer__box-list ul > :last-child {
      font-size: 3rem; }

.banner {
  width: 100%;
  display: block; }
  .banner__content {
    width: 100%;
    height: 50vh;
    background-image: url("../img/careers_banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .banner__content h1 {
      color: #fff;
      font-size: 3rem;
      font-family: "Open Sans";
      font-weight: 700;
      text-align: center; }
  .banner__careers {
    padding: 2rem 4rem; }
    .banner__careers__content-header {
      font-size: 1.6rem;
      font-family: "Open Sans";
      font-weight: 600;
      color: #3e3e3e;
      display: block;
      padding: 2rem 0;
      border-bottom: 1px solid lightgray; }
    .banner__careers__content-box {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid lightgray; }
      .banner__careers__content-box p {
        padding: .5rem 0;
        font-size: 1.6rem;
        color: #3e3e3e;
        display: block; }
      .banner__careers__content-box ul {
        list-style: none;
        padding-left: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .banner__careers__content-box ul li {
          display: block;
          font-size: 2rem;
          color: red;
          font-family: "Open Sans";
          padding-bottom: 1rem; }
          .banner__careers__content-box ul li a {
            text-align: left;
            color: inherit;
            text-decoration: none; }
            .banner__careers__content-box ul li a:hover {
              text-decoration: underline; }
          .banner__careers__content-box ul li span {
            padding-top: 2rem;
            float: right;
            font-size: 1rem;
            font-family: "Cinzel";
            color: #404040; }

.value {
  padding-bottom: 100px; }
  @media only screen and (max-width: 62.5em) {
    .value {
      padding-bottom: 100px; } }
  .value__content {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 4rem; }
    @media only screen and (max-width: 62.5em) {
      .value__content {
        flex-direction: column; } }
    .value__content.active {
      align-items: start; }
    .value__content-main {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .value__content-main img {
        transform: translateY(100px); }
        @media only screen and (max-width: 37.5em) {
          .value__content-main img {
            width: 100%; } }
        .value__content-main img.btn-animate {
          transform: translateY(0);
          transition: all .8s; }
      .value__content-main h1 {
        font-family: "Open Sans";
        font-size: 4rem;
        padding-bottom: 2rem; }
      .value__content-main p {
        font-size: 1.8rem;
        color: #4a4a4a; }
    .value__content-list {
      flex: 0 0 50%;
      padding: 4rem; }
      .value__content-list.active {
        padding-top: 4rem; }
      .value__content-list-box {
        border-bottom: 1px solid lightgray;
        overflow: hidden;
        transition: all .4s;
        transition-delay: .3s;
        height: 80px; }
        .value__content-list-box.collapsed {
          height: 80px; }
        .value__content-list-box.active {
          transition: all .4s;
          transition-delay: .3s; }
        .value__content-list-box h3 {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 2.5rem;
          color: red;
          padding: 2rem;
          cursor: pointer; }
          @media only screen and (max-width: 50em) {
            .value__content-list-box h3 {
              font-size: 1.8rem; } }
          .value__content-list-box h3 a {
            text-decoration: none;
            color: inherit; }
          .value__content-list-box h3 img {
            float: right;
            transition: all .3s; }
        .value__content-list-box p {
          color: #4a4a4a;
          font-size: 1.8rem;
          line-height: 3rem;
          padding: 2rem;
          margin-bottom: 2rem;
          transition: all .5s;
          overflow: hidden; }

.employees {
  margin: 6rem 0; }
  .employees__content {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .employees__content {
        flex-direction: column;
        padding: 0 4rem; } }
    .employees__content-box {
      flex: 0 0 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .employees__content-box > *:not(:last-child) {
        padding: 2rem; }
      .employees__content-box img {
        width: 100%;
        height: auto;
        object-fit: cover; }
      .employees__content-box h3 {
        font-size: 2rem;
        font-family: "Open Sans";
        cursor: pointer; }
      .employees__content-box p {
        color: red;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: 'Cinzel'; }

.about__banner {
  display: flex;
  flex-direction: column; }
  .about__banner__content {
    height: 100vh;
    background-image: url("../img/about_banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .about__banner__content h1 {
      text-align: center;
      width: 40%;
      font-family: "Open Sans";
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff;
      padding: 0 3rem 3rem 3rem;
      visibility: hidden;
      opacity: 0; }
      @media only screen and (max-width: 50em) {
        .about__banner__content h1 {
          width: 80%; } }
      .about__banner__content h1.btn-animate {
        visibility: visible;
        opacity: 100;
        transition: all .5s;
        transition-delay: .3s; }
    .about__banner__content p {
      width: 40%;
      text-align: center;
      font-size: 2rem;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      line-height: 3.5rem; }
      .about__banner__content p.btn-animate {
        visibility: visible;
        opacity: 100;
        transition: all 1s;
        transition-delay: .5s; }
        @media only screen and (max-width: 50em) {
          .about__banner__content p.btn-animate {
            width: 80%; } }

.about__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  .about__text.howitworks {
    padding: 0; }
  .about__text__arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(-200%); }
    .about__text__arrow.howitworks {
      transform: translateY(-100px); }
    .about__text__arrow a {
      color: inherit;
      text-decoration: none; }
  .about__text img {
    visibility: hidden;
    opacity: 0; }
    .about__text img.btn-animate {
      visibility: visible;
      opacity: 100;
      transition-delay: 1.2s; }
  .about__text__line {
    border-right: 1px solid red;
    height: 1px;
    transform: translateY(-80px); }
    .about__text__line.btn-animate {
      height: 300px;
      transition: height 1.5s;
      transition-delay: .3s; }
  .about__text h1 {
    width: 60%;
    text-align: center;
    font-family: "Open Sans";
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: .2rem;
    padding: 2rem;
    color: grey; }
    @media only screen and (max-width: 50em) {
      .about__text h1 {
        width: 80%;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__text h1 {
        width: 90%;
        font-size: 2rem; } }

.pop__up {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 3000;
  padding: 2rem;
  display: none; }
  @media only screen and (max-width: 50em) {
    .pop__up {
      flex-direction: column; } }
  .pop__up-text-img {
    display: none;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem; }
  .pop__up__img {
    flex: 0 0 70%; }
    .pop__up__img img {
      width: 100%;
      height: auto;
      object-fit: cover; }
    @media only screen and (max-width: 50em) {
      .pop__up__img {
        flex-direction: column; } }
  .pop__up__text {
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: #fff;
    position: absolute;
    flex: 0 0 50%;
    padding: 10rem; }
    @media only screen and (max-width: 50em) {
      .pop__up__text {
        top: 0;
        width: 100%;
        transform: translateY(100);
        padding: 10rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .pop__up__text {
        width: 100%; } }
    @media only screen and (max-width: 62.5em) {
      .pop__up__text {
        padding: 6rem; } }
    .pop__up__text h1 {
      font-size: 4rem;
      font-weight: 400;
      font-family: "Open Sans";
      padding-bottom: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .pop__up__text h1 {
          font-size: 3rem; } }
    .pop__up__text h3 {
      color: red;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 400;
      font-family: "Open Sans";
      padding-bottom: 2rem; }
    .pop__up__text p {
      font-size: 1.6rem;
      line-height: 3rem;
      color: #626262; }
      @media only screen and (max-width: 37.5em) {
        .pop__up__text p {
          line-height: 2.5rem; } }
    .pop__up__text-in {
      font-size: 4rem;
      padding: 2rem 0; }
    .pop__up__text button {
      position: absolute;
      border: none;
      top: 0;
      right: 0;
      padding: 3rem;
      background-color: transparent; }
      @media only screen and (max-width: 37.5em) {
        .pop__up__text button {
          padding: 2rem; } }
      .pop__up__text button i {
        font-size: 2rem;
        color: #696969; }

.about__banner__content.howitworks {
  background-image: url("../img/howitworks_banner_main.jpg"); }

.about__banner__content.contact {
  background-image: url("../img/contact__banner.jpg"); }

.section {
  overflow: hidden;
  padding-bottom: 2rem; }
  .section.howitworks {
    overflow: unset; }
  .section__label {
    display: none;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .section__label {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        display: block;
        font-family: "Open Sans";
        font-size: 2rem;
        font-weight: 600;
        padding: 0 2rem 2rem 2rem; }
        .section__label i {
          color: red;
          font-size: 2rem; } }
  .section__input {
    display: none; }
    .section__input:checked ~ .section__content {
      display: block;
      text-align: left; }
  .section.active {
    position: sticky;
    background-color: #fff !important;
    top: 98px;
    z-index: 100;
    justify-content: center;
    width: 100%;
    align-items: center; }
  .section__content {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .section__content {
        display: none;
        box-shadow: 0 1px 15px #d7d7d7;
        border: 1px solid lightgray; } }
    .section__content-box {
      display: flex;
      justify-content: center;
      flex: 0 0 25%;
      transform: translateY(-50px); }
      @media only screen and (max-width: 50em) {
        .section__content-box {
          justify-content: flex-start; } }
      .section__content-box.active {
        transform: translateY(0); }
      .section__content-box h1 {
        padding: 2rem;
        text-align: center;
        color: #404040;
        font-family: "Open Sans"; }
        .section__content-box h1 a {
          text-decoration: none;
          color: inherit; }
        .section__content-box h1:hover {
          color: red;
          border-top: 3px solid red; }

.howitworks__header {
  padding: 2rem 0 2rem 1rem;
  font-size: 3rem;
  font-family: "Open Sans"; }

.solution {
  padding: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .solution {
      padding: 0; } }
  .solution-box {
    background-color: #F6F7F9; }
  .solution__content {
    background-image: url("../img/howitworls_banner_2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 6rem 10rem; }
    @media only screen and (max-width: 37.5em) {
      .solution__content {
        padding: 2rem 1rem; } }
    .solution__content h1 {
      padding: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      font-family: "Open Sans";
      font-size: 3rem;
      color: #fff; }
      @media only screen and (max-width: 37.5em) {
        .solution__content h1 {
          padding: 1rem;
          font-size: 2rem; } }
    .solution__content__box {
      box-shadow: 0 5px 10px #ababab;
      background-color: #F6F7F9;
      display: flex;
      margin-bottom: 4rem; }
      @media only screen and (max-width: 62.5em) {
        .solution__content__box {
          flex-direction: column;
          justify-content: flex-start; } }
      .solution__content__box > *:not(:first-child):hover {
        background-color: #fff;
        box-shadow: 0 5px 15px 5px #a5a5a5;
        transform: scaleY(1.05); }
        @media only screen and (max-width: 62.5em) {
          .solution__content__box > *:not(:first-child):hover {
            background-color: inherit;
            box-shadow: none;
            transform: scaleY(1); } }
      .solution__content__box-list {
        flex: 0 0 25%;
        padding: 2rem; }
        @media only screen and (max-width: 62.5em) {
          .solution__content__box-list {
            display: none;
            padding: 1rem; } }
        .solution__content__box-list h1 {
          color: #404040;
          font-family: "Open Sans";
          font-size: 1.6rem;
          font-weight: 600;
          text-align: left;
          text-transform: uppercase; }
        .solution__content__box-list p {
          font-size: 1.2rem;
          font-family: "Open Sans";
          font-weight: 600; }
        .solution__content__box-list > * {
          padding: 2rem; }
      .solution__content__box-item {
        position: relative;
        flex: 0 0 25%;
        padding: 2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media only screen and (max-width: 62.5em) {
          .solution__content__box-item {
            width: 100%;
            justify-content: start;
            align-items: start;
            height: 300px;
            overflow: hidden; } }
        .solution__content__box-item > div:not(:last-of-type) {
          display: flex; }
          .solution__content__box-item > div:not(:last-of-type) img {
            height: 2rem;
            width: 2rem; }
        .solution__content__box-item > h1 {
          align-self: center; }
        .solution__content__box-item > * {
          padding-bottom: 3rem !important; }
          .solution__content__box-item > * span {
            display: none;
            font-size: 1.2rem;
            font-family: "Open Sans";
            font-weight: 600;
            padding-right: 1rem; }
            @media only screen and (max-width: 62.5em) {
              .solution__content__box-item > * span {
                display: inline-block; } }
        .solution__content__box-item.silver:before {
          border-top: 10px solid #C9D4DA; }
        .solution__content__box-item.gold:before {
          border-top: 10px solid #E2C798; }
        .solution__content__box-item:before {
          content: "";
          width: 30%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          border-top: 10px solid #D09577; }
          @media only screen and (max-width: 62.5em) {
            .solution__content__box-item:before {
              width: 110%;
              left: 0;
              transform: translateX(0); } }
        .solution__content__box-item h1 {
          color: #404040;
          font-family: "Open Sans";
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: uppercase; }
        .solution__content__box-item p {
          font-size: 1.1rem;
          font-family: "Open Sans";
          font-weight: 600; }
        .solution__content__box-item > * {
          padding: 2rem; }
  .solution__icon {
    visibility: hidden;
    display: none; }
    .solution__icon > * {
      visibility: hidden; }
    @media only screen and (max-width: 62.5em) {
      .solution__icon {
        visibility: visible;
        content: "";
        display: block;
        height: 10rem;
        text-align: center;
        position: absolute;
        padding: 2rem 0;
        width: 100%;
        bottom: 0;
        background-color: #F6F7F9; }
        .solution__icon img {
          height: 10rem;
          width: 6rem;
          object-fit: fill;
          visibility: visible;
          position: absolute;
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);
          justify-self: center; } }

.request {
  padding: 6rem 0;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .request {
      padding: 2rem 0; } }
  .request > * {
    padding-bottom: 2rem; }
  .request h1 {
    font-family: "Open Sans";
    font-size: 2.5rem; }
  .request p {
    color: red;
    font-size: 1.8rem; }
    .request p a {
      text-decoration: none;
      color: inherit; }
      .request p a:hover {
        text-decoration: underline; }

.contact__banner {
  height: 100vh;
  background-image: url("../img/contact__banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contact__banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .contact__banner-box {
        padding-top: 10rem; } }

.contact__top-box {
  display: flex;
  width: 100%;
  visibility: hidden;
  opacity: 0; }
  @media only screen and (max-width: 50em) {
    .contact__top-box {
      flex-direction: column; }
      .contact__top-box > * {
        border-bottom: 1px solid lightgray; } }
  .contact__top-box.btn-animate {
    visibility: visible;
    opacity: 100;
    transition: all .5s;
    transition-delay: 1s; }

.contact-header {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Open Sans";
  font-weight: 600;
  padding-bottom: 2rem;
  visibility: hidden;
  opacity: 0; }
  @media only screen and (max-width: 50em) {
    .contact-header {
      font-size: 2.5rem; } }
  .contact-header.btn-animate {
    visibility: visible;
    opacity: 100;
    transition: all .7s;
    transition-delay: .2s; }

.request.contact {
  flex: 0 0 33%; }
  .request.contact h1 {
    color: #fff; }

.location {
  padding: 4rem; }
  .location__header {
    font-family: "Open Sans";
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem; }
  .location-box {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 50em) {
      .location-box {
        flex-direction: column; } }
    .location-box-box {
      padding: 2rem;
      flex: 0 0 33%; }
    .location-box-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10rem 2rem;
      border: 1px solid lightgray; }
      .location-box-item p {
        padding-top: 2rem;
        text-align: center;
        color: #fff;
        font-size: 1.8rem;
        line-height: 2.5rem;
        visibility: hidden;
        opacity: 0;
        transition: all .7s;
        transition-delay: .2s; }
      .location-box-item-1.active {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/contact-skopje.jpg");
        background-size: cover;
        background-position: center; }
        .location-box-item-1.active h1 {
          color: #fff;
          transition: all .7s; }
        .location-box-item-1.active p {
          visibility: visible;
          opacity: 100;
          transition: all .7s;
          transition-delay: .2s; }
      .location-box-item-2.active {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/contact-sydney.jpg");
        background-size: cover;
        background-position: center; }
        .location-box-item-2.active h1 {
          color: #fff;
          transition: all .7s; }
        .location-box-item-2.active p {
          visibility: visible;
          opacity: 100;
          transition: all .7s;
          transition-delay: .2s; }
      .location-box-item-3.active {
        background-image: url("../img/contact-london.jpg");
        background-size: cover;
        background-position: center; }
        .location-box-item-3.active h1 {
          color: #fff;
          transition: all .7s; }
        .location-box-item-3.active p {
          visibility: visible;
          opacity: 100;
          transition: all .7s;
          transition-delay: .2s; }
      .location-box-item-4.active {
        background-image: url("../img/contact-newyork.jpg");
        background-size: cover;
        background-position: center; }
        .location-box-item-4.active h1 {
          color: #fff;
          transition: all .7s; }
        .location-box-item-4.active p {
          visibility: visible;
          opacity: 100;
          transition: all .7s;
          transition-delay: .2s; }
      .location-box-item-5.active {
        background-image: url("../img/contact-hongkong.jpg");
        background-size: cover;
        background-position: center; }
        .location-box-item-5.active h1 {
          color: #fff;
          transition: all .7s; }
        .location-box-item-5.active p {
          visibility: visible;
          opacity: 100;
          transition: all .7s;
          transition-delay: .2s; }
      .location-box-item-6.active {
        background-image: url("../img/contact-bucharest.jpg");
        background-size: cover;
        background-position: center; }
        .location-box-item-6.active h1 {
          color: #fff;
          transition: all .7s; }
        .location-box-item-6.active p {
          visibility: visible;
          opacity: 100;
          transition: all .7s;
          transition-delay: .2s; }
      .location-box-item h1 {
        font-family: "Cinzel";
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 4rem; }
        @media only screen and (max-width: 37.5em) {
          .location-box-item h1 {
            font-size: 3rem; } }
