

//VARIABLES

$bp-huge: 100em; //1600px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px

//GLOBAL RESET
*,
*:after,
*:before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  //background-color: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-medium){
   font-size: 55%;
  }

}