.wrapper-center{
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  @media only screen and (max-width: $bp-large){
    width: 90%;
  }
  @media only screen and (max-width: $bp-medium){
    width: 96%;
  }
}
.wrapper-center-small{
  margin-left:auto;
  margin-right:auto;
  width: 1000px;
  @media only screen and (max-width: $bp-large){
    width: 700px;
  }
}
.btn{
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;

  &-red{
    background-image: linear-gradient(to right,#FE3140,#F2563F);
    text-transform: uppercase;

    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 4rem;
    border: none;
    color: #fff;
  }
  &-join{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem 5rem;
    border: none;
    background-color: #fff;
    color: #313131;

  }
  &-hire{
    background-image: linear-gradient(to right,#FE3140,#F2563F);
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 2rem 5rem;
      border: none;
      color: #fff;


  }
  &_swap{
    border: 1px solid #282828;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    float: left;
    &:focus{
      outline:0;
    }
  }
}
.btn_swap.active{
  background-color: #282828;
  color: #fff;
}
.mg-right{
  margin-right: 2rem;
  @media only screen and (max-width: $bp-small){
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.clock__absolute{
  position: absolute;
  top: 0;
  //left: 50%;
  //transform: rotate(300deg);
}
.clock__relative{
  position: relative;
}
.hour{
  //transform-origin: center center;
}

//////ANIMATION CLASSES
.button{
  visibility: hidden;
  opacity: 0;
}
.button.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: 1.3s;
}
.buttonOne{
  visibility: hidden;
  opacity: 0;
}
.buttonTwo{
  visibility: hidden;
  opacity: 0;
}
//text Bottom
.textOne{
  visibility: hidden;
  opacity: 0;

}
.textOne.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: .5s;
}
//Text Top
.textTwo{
  visibility: hidden;
  opacity: 0;

}
.textTwo.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: .5s;
}

//Text Top
.textThree{
  visibility: hidden;
  opacity: 0;

}
.textThree.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: 1s;
}
//Text List

.textListOne{
  visibility: hidden;
  opacity: 0;

}
.textListOne.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .3s;
}

.textListTwo{
  visibility: hidden;
  opacity: 0;

}
.textListTwo.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .6s;
}
.textListThree{
  visibility: hidden;
  opacity: 0;

}
.textListThree.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1s;
}
.textListFour{
  visibility: hidden;
  opacity: 0;

}
.textListFour.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1.4s;
}

//TABLET ITEMS
.tabletItemOne{
  flex: 0;
}
.tabletItemOne.btn-animate{
  flex:1;
  transition: all 1.5s;
  transition-delay: .2s;
}

.tabletItemTwo{
  visibility: hidden;
  opacity: 0;

}
.tabletItemTwo.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .5s;
}
.tabletItemThree{
  visibility: hidden;
  opacity: 0;

}
.tabletItemThree.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1s;
}
.tabletItemFour{
  visibility: hidden;
  opacity: 0;

}
.tabletItemFour.btn-animate{
  visibility: visible;
  opacity: 100;
  //transition: visibility, opacity .5s;
  transition-delay: 1.4s;
}

////
.itemOne{
  visibility: hidden;
  opacity: 0;
}
.itemOne.btn-animate{
  isibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: .5s;
}

.itemTwo{
  visibility: hidden;
  opacity: 0;

}
.itemTwo.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: visibility, opacity .5s;
  transition-delay: 1s;
}
.btn-animate{
  visibility: visible;
  opacity: 100;
  transition: all .5s;
  transition-delay: 1s;

;
}
