.about__banner__content {

  &.howitworks {
    background-image: url("../img/howitworks_banner_main.jpg");
  }
  &.contact{
    background-image: url("../img/contact__banner.jpg");

  }

}
.section {
  overflow: hidden;
  padding-bottom: 2rem;
  &.howitworks{
    overflow: unset;
  }
  &__label{
    display: none;
    text-align: center;
    @media only screen and(max-width: $bp-medium){
      margin-left: auto;
      margin-right: auto;
      width: 200px;

      display: block;
      font-family: "Open Sans";
      font-size: 2rem;
      font-weight: 600;

      padding:0 2rem 2rem 2rem;
      & i{
        color: red;
        font-size: 2rem;
      }
    }
  }
  &__input{
    display: none;
    &:checked ~ .section__content{
      display: block;
      text-align: left;
    }
  }
  &.active {
    position: sticky;
    background-color: #fff !important;
    top: 98px;
    z-index: 100;
    //display: flex;
    justify-content: center;
    width: 100%;

    align-items: center;
  }
  &__content {
    display: flex;
    @media only screen and(max-width: $bp-medium){
      display: none;
      box-shadow: 0 1px 15px #d7d7d7;
      border: 1px solid lightgray;
    }
    &-box {
      display: flex;
      justify-content: center;
      //align-items: center;
      flex: 0 0 25%;
      transform: translateY(-50px);
      @media only screen and(max-width: $bp-medium){
        justify-content: flex-start;
      }
      &.active {
        transform: translateY(0);
      }
      & h1 {
        padding: 2rem;
        text-align: center;
        color: #404040;
        font-family: "Open Sans";
        & a{
          text-decoration: none;
          color: inherit;
        }
        &:hover {
          color: red;
          border-top: 3px solid red;
        }
      }

    }
  }
}
.howitworks__header{
  padding: 2rem 0 2rem 1rem;
  font-size: 3rem;
  font-family: "Open Sans";

}
.solution{
  padding: 4rem;
  @media only screen and (max-width: $bp-small){
    padding: 0;
  }
  &-box{
    background-color: #F6F7F9;
  }
  &__content {
    //height: 650px;
    background-image: url("../img/howitworls_banner_2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 6rem 10rem;
    @media only screen and (max-width: $bp-small){
      padding: 2rem 1rem;
    }

    & h1{
      padding: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      font-family: "Open Sans";
      font-size: 3rem;
      color: #fff;
      @media only screen and (max-width: $bp-small){
        padding: 1rem;
        font-size: 2rem;
      }
    }
    &__box{

      box-shadow: 0 5px 10px #ababab;
      background-color: #F6F7F9;
      display: flex;
      margin-bottom: 4rem;
      @media only screen and (max-width: $bp-large){
        flex-direction: column;
        justify-content: flex-start;
      }
      &>*:not(:first-child){
        &:hover{
          background-color: #fff;
          box-shadow: 0 5px 15px 5px #a5a5a5;
          transform: scaleY(1.05);
          @media only screen and( max-width: $bp-large){
            background-color: inherit;
            box-shadow: none;
            transform: scaleY(1);
          }
        }
      }
      &-list{
        flex: 0 0 25%;
        padding: 2rem;
        @media only screen and (max-width: $bp-large){
          display: none;
          padding: 1rem;
        }
        & h1{
          color: #404040;
          font-family: "Open Sans";
          font-size: 1.6rem;
          font-weight: 600;
          text-align: left;
          text-transform: uppercase;
        }
        & p{
          font-size: 1.2rem;
          font-family: "Open Sans";
          font-weight: 600;
        }
        &>*{
          padding: 2rem;
        }
      }
      &-item{
        position: relative;
        flex: 0 0 25%;
        padding: 2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width: $bp-large){
          width: 100%;
          justify-content: start;
          align-items: start;
          height: 300px;
          overflow: hidden;
        }

        &>div:not(:last-of-type){
          display: flex;
          & img{
            height: 2rem;
            width: 2rem;
          }
        }
        & > h1{
          align-self: center;
        }
        &>*{
          padding-bottom: 3rem !important;
          & span {
            display: none;
            font-size: 1.2rem;
            font-family: "Open Sans";
            font-weight: 600;
            padding-right: 1rem;
            @media only screen and (max-width: $bp-large){
              display: inline-block;
            }
          }
        }
        &.silver{
          &:before{
            border-top: 10px solid #C9D4DA;
          }
        }
        &.gold{
          &:before{
            border-top: 10px solid #E2C798;
          }
        }
       &:before{
         content: "";
         width: 30%;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         border-top: 10px solid #D09577;
         @media only screen and (max-width: $bp-large){
           width: 110%;
           left: 0;
           transform: translateX(0);
         }

       }

        & h1{
          color: #404040;
          font-family: "Open Sans";
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        & p{
          font-size: 1.1rem;
          font-family: "Open Sans";
          font-weight: 600;
        }
        &>*{
          padding: 2rem;
          //display: block;
        }
      }
    }

  }
  &__icon{
   visibility: hidden;
    display: none;
    &>*{
      visibility: hidden;
    }
    @media only screen and (max-width: $bp-large){
      visibility: visible;
      content: "";
      display: block;
      height: 10rem;
      text-align: center;
      position: absolute;
      padding: 2rem 0;
      width: 100%;
      bottom: 0;
      background-color: #F6F7F9;
      & img{
        height: 10rem;
        width: 6rem;
        object-fit: fill;
        visibility: visible;
        position: absolute;
        top:50%;
        left:45%;
        transform: translate(-50%,-50%);
        justify-self: center;
      }
    }
  }
}
.request{
  padding: 6rem 0;
  text-align: center;
  @media only screen and(max-width: $bp-medium) {
    padding: 2rem 0;
  }
  &>*{
    padding-bottom: 2rem;
  }
  & h1{
    font-family: "Open Sans";
    font-size: 2.5rem;

  }
  & p {
    color: red;
    font-size: 1.8rem;
    & a{
      text-decoration: none;
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}