.nav{
  z-index: 2;
  background-color: transparent;
  padding: 2rem 4rem 2rem 5rem;
  position: absolute;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img{
    flex: 0 0 13%;
    & img{
      width: 100%;
      height: auto;

    }
  }
  &__text-box{
    flex: 0 0 30%;
  }
  &__text-list{
    display: flex;
    justify-content: center;
    align-items: center;
    &>:last-child{
      background-image: linear-gradient(to right,#FE3140,#F2563F);
      color: #fff;
    }
    &-item{
      display: flex;
      list-style: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      font-family: Arial;
      padding: 2rem 3rem;

      color: #fff;
      letter-spacing: .2rem;
      white-space:nowrap;
    }
    &-link{
      text-decoration: none;
      color: inherit;
      height: 100%;
      width: 100%;
    }
  }
}